<div class="col-md-8 order-container">
  <h2 style="margin: auto"> Drivers List</h2>
  <table>
    <tr>
      <td>
        <button class="btn btn-danger" style="width:100px" (click)="addDriver()"> Add Driver</button>
      </td>
      <td>
        <button class="btn btn-danger" style="width:100px" (click)="refresh()"> Refresh</button>
      </td>
    </tr>
  </table>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Id</th>
      <th>User Name</th>
      <th>User Role</th>
      <th>Driver Name</th>
      <th>Birth date</th>
      <th>Current order ID</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let driver of drivers">
      <td class="hidden">{{driver.id}}</td>
      <td>{{driver.user.login}}</td>
      <td>{{driver.user.role}}</td>
      <td>{{driver.firstName + ' ' + driver.lastName}}</td>
      <td>{{driver.birthDate}}</td>
      <td>{{driver.orderId}}</td>
      <td>{{driver.status}}</td>
      <td><button class="btn btn-success" (click)="deleteDriver(driver)"
                  [disabled]="driver.status == 'ON_DRIVE'"> Delete</button>
        <button class="btn btn-success" (click)="editDriver(driver)" style="margin-left: 20px;"> Edit</button></td>
    </tr>
    </tbody>
  </table>
</div>
