<div class="col-md-6 truck-container">
  <h2 class="text-center">Edit Truck</h2>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="id">ID:</label>
      <input type="text" formControlName="id" placeholder="id" name="id" class="form-control" id="id" readonly="true">
    </div>
    <div class="form-group">
      <label for="licencePlate">Licence Plate:</label>
      <input type="text" formControlName="licencePlate" placeholder="Licence Plate" name="licencePlate" class="form-control" id="licencePlate">
    </div>

    <div class="form-group">
      <label for="currentCity">Current City:</label>
      <input formControlName="currentCity" placeholder="Current City" name="currentCity" class="form-control" id="currentCity">
    </div>

    <div class="form-group">
      <label for="fixed">Fixed:</label>
      <input type="checkbox" formControlName="fixed" placeholder="Fixed" name="fixed" value="true" class="form-control" id="fixed">
    </div>

    <div class="form-group">
      <label for="capacity">Capacity:</label>
      <input type="number" formControlName="capacity" placeholder="Capacity" name="capacity" class="form-control" id="capacity">
    </div>

    <div class="form-group">
      <label for="orderId">Order ID:</label>
      <input type="text" formControlName="orderId" placeholder="Order ID" name="orderId" class="form-control" id="orderId" readonly="true">
    </div>

    <div class="form-group">
      <label for="notes">Notes:</label>
      <input type="notes" formControlName="notes" placeholder="Notes" name="notes" class="form-control" id="notes">
    </div>

    <button class="btn btn-success">Update</button>
  </form>
</div>
