<div class="col-md-8 order-container">
  <h2 style="margin: auto"> Trucks List</h2>
  <table>
    <tr>
      <td>
        <button class="btn btn-danger" style="width:100px" (click)="addTruck()"> Add Truck</button>
      </td>
      <td>
        <button class="btn btn-danger" style="width:100px" (click)="refresh()"> Refresh</button>
      </td>
    </tr>
  </table>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Id</th>
      <th>Licence Plate</th>
      <th>Current order ID</th>
      <th>Current City</th>
      <th>Fixed</th>
      <th>Capacity</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let truck of trucks">
      <td class="hidden">{{truck.id}}</td>
      <td>{{truck.licencePlate}}</td>
      <td>{{truck.orderId}}</td>
      <td>{{truck.currentCity}}</td>
      <td>{{truck.fixed}}</td>
      <td>{{truck.capacity}}</td>
      <td><button class="btn btn-success" (click)="deleteTruck(truck)"
                  [disabled]="truck.orderId !== 0"> Delete</button>
        <button class="btn btn-success" (click)="editTruck(truck)" style="margin-left: 20px;"> Edit</button></td>
    </tr>
    </tbody>
  </table>
</div>
