<div class="col-md-8 order-container">
  <h2 style="margin: auto"> Orders List</h2>
  <table>
    <tr>
      <td>
        <button class="btn btn-danger" style="width:100px" (click)="addOrder()"> Add Order</button>
      </td>
      <td>
        <button class="btn btn-danger" style="width:100px" (click)="refresh()"> Refresh</button>
      </td>
    </tr>
  </table>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Id</th>
      <th>Truck</th>
      <th>Driver Name</th>
      <th>Time for delivery</th>
      <th>Max weight</th>
      <th>Start date</th>
      <th>End date</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of orders">
      <td class="hidden">{{order.id}}</td>
      <td>{{order.truck.licencePlate}}</td>
      <td>{{order.driver.firstName + ' ' + order.driver.lastName}}</td>
      <td>{{order.timeForDelivery}}</td>
      <td>{{order.maxWeight}}</td>
      <td>{{order.startDate}}</td>
      <td>{{order.endDate}}</td>
      <td><button class="btn btn-success" (click)="deleteOrder(order)"> Delete</button>
<button class="btn btn-success" (click)="editOrder(order)" style="margin-left: 20px;"> Edit</button></td>
</tr>
</tbody>
</table>
</div>
