<div class="col-md-6 order-container">
  <h2 class="text-center">Edit Order</h2>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="id">Truck Licence Plate:</label>
      <input type="text" formControlName="id" placeholder="id" name="id" class="form-control" id="id" readonly="true">
    </div>

    <div class="form-group">
      <label for="truck">Truck Licence Plate:</label>
      <input type="text" formControlName="truck" placeholder="truck" name="truck" class="form-control" id="truck">
    </div>

    <div class="form-group">
      <label for="driver">Driver Name:</label>
      <input type="text" formControlName="driver" placeholder="Driver Name" name="driver" class="form-control" id="driver">
    </div>

    <div class="form-group">
      <label for="timeForDelivery">Time For Delivery:</label>
      <input type="number" formControlName="timeForDelivery" placeholder="Time For Delivery" name="timeForDelivery" class="form-control" id="timeForDelivery" readonly="true">
    </div>

    <div class="form-group">
      <label for="maxWeight">Max Weight:</label>
      <input type="number" formControlName="maxWeight" placeholder="Max Weight" name="maxWeight" class="form-control" id="maxWeight" readonly="true">
    </div>

    <div class="form-group">
      <label for="startDate">Start Date:</label>
      <input type="text" formControlName="startDate" placeholder="Start Date" name="startDate" class="form-control" id="startDate" readonly="true">
    </div>

    <div class="form-group">
      <label for="endDate">End Date:</label>
      <input type="text" formControlName="endDate" placeholder="End Date" name="endDate" class="form-control" id="endDate" readonly="true">
    </div>

    <div class="form-group">
      <button class="btn btn-danger" style="width:100px" (click)="addGood()"> Add Good</button>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>City for loading</th>
          <th>City for unloading</th>
          <th>Date ready</th>
          <th>Date loaded</th>
          <th>Date unloaded</th>
          <th>Weight</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let good of goods">
          <td class="hidden">{{good.id}}</td>
          <td>{{good.name}}</td>
          <td>{{good.cityForLoading}}</td>
          <td>{{good.cityForUnloading}}</td>
          <td>{{good.dateReady}}</td>
          <td>{{good.dateLoaded}}</td>
          <td>{{good.dateUnload}}</td>
          <td>{{good.weight}}</td>
          <td><button class="btn btn-success" (click)="deleteGood(order)"> Delete</button>
        </tr>
        </tbody>
      </table>
    </div>>
    <button class="btn btn-success">Update</button>
  </form>
</div>
