<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="https://www.logiweb.com">LOGIWEB</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<button class="btn btn-danger" style="width:100px" (click)="orders()"> Orders</button>
<button class="btn btn-danger" style="width:100px" (click)="users()"> Users</button>
<button class="btn btn-danger" style="width:100px" (click)="drivers()"> Drivers</button>
<button class="btn btn-danger" style="width:100px" (click)="trucks()"> Trucks</button>
<router-outlet></router-outlet>
