<div class="col-md-6 driver-container">
  <h2 class="text-center">Add Driver</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input type="text" formControlName="firstName" placeholder="First Name" name="firstName" class="form-control" id="firstName">
    </div>

    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input type="text" formControlName="lastName" placeholder="Last Name" name="lastName" class="form-control" id="lastName">
    </div>

    <div class="form-group">
      <label for="currentCity">Current City:</label>
      <input type="text" formControlName="currentCity" placeholder="Current City" name="currentCity" class="form-control" id="currentCity">
    </div>

    <div class="form-group">
      <label for="birthDate">Birth Date:</label>
      <input type="date" formControlName="birthDate" placeholder="Birth Date" name="Birth Date" class="form-control" id="birthDate">
    </div>

    <button class="btn btn-success">Add</button>
  </form>
</div>
