<div class="col-md-6 driver-container">
  <h2 class="text-center">Edit Driver</h2>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="id">ID:</label>
      <input type="text" formControlName="id" placeholder="id" name="id" class="form-control" id="id" readonly="true">
    </div>

    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input type="text" formControlName="firstName" placeholder="First Name" name="firstName" class="form-control" id="firstName">
    </div>

    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input type="text" formControlName="lastName" placeholder="Last Name" name="lastName" class="form-control" id="lastName">
    </div>

    <div class="form-group">
      <label for="birthDate">Birth Date:</label>
      <input type="date" formControlName="birthDate" placeholder="Birth Date" name="birthDate" class="form-control" id="birthDate">
    </div>

    <div class="form-group">
      <label for="currentCity">Current City:</label>
      <input type="text" formControlName="currentCity" placeholder="Current City" name="currentCity" class="form-control" id="currentCity">
    </div>

    <div class="form-group">
      <label for="status">Status:</label>
      <input type="text" formControlName="status" placeholder="Status" name="status" class="form-control" id="status" readonly="true">
    </div>

    <div class="form-group">
      <label for="orderId">Order ID:</label>
      <input type="text" formControlName="orderId" placeholder="Order ID" name="orderId" class="form-control" id="orderId" readonly="true">
    </div>

    <div class="form-group">
      <label for="userLogin">Login:</label>
      <input type="text" formControlName="userLogin" placeholder="Login" name="userLogin" class="form-control" id="userLogin" readonly="true">
    </div>

    <button class="btn btn-success">Edit</button>
  </form>
</div>
